* {
box-sizing: border-box;
margin: 0 auto;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #009900;
}

header{
  padding: 2% 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

img {
  width: 15em;
  height: 15em;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 100%;
}

.search {
  width: 100%;
}
#results{
  padding: 25px;
}
#search-button{
  font-size: 2em;
}

input {
  width: 25%;
}

 .search-form {
  display: flex;
  padding-left: 20%;
  align-items: center;

}

div {
  width: 50%;
  height: 50%;
}

h1 {
  display: flex;
  justify-content: center;
}

.player {
  width: 70%;
}

.music-player {
  width: 100%;
  padding: 25px;
  margin: 25px;
}

label{
  font-size: 2em;
}

#searchtext{
  width: 25%;
  font-size: 1.5em;
}

.artistList {
  padding: 5px;
  width: 25%;
  align-items: center;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}
h3 {
  margin: 5px;
  padding: 5px;
}

 h4{
   margin: 5px;
   padding: 5px;
 }

footer {
  display: flex;
  justify-content: center;
  margin: 40px;
  padding: 30px;
}
